<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/home.css')}}">
    <title>Cafeteria Rapidin</title>
</head>

<body>
    <div class="container">
        <h1>Cafeteria Rapidin</h1>
        <p class="subtitulo">La cafeteria mas rapida de Buenos Aires</p>
        
        <div class="coffee-grid">
            <div class="expresso">
                <h2>Cafe expresso: $200</h2>
                <p>cafe de sabor inteso, elaborado con granos 50% colombianos y 50% brasileros</p>
            </div>

            <div class="doble">
                <h2>Cafe doble: $150</h2>
                <p>cafe de sabor intenso en tamaño muy dormido, elaborado con granos 50% colombianos y 50% brasileros</p>
            </div>

            <div class="flash">
                <h2>Cafe flash: $170</h2>
                <p>Cafe de sabor aroma frutal, elaborados con 3 variedad de granos colombianos, arabicos y brasileros</p>
            </div>

            <div class="mocha">
                <h2>Cafe mocha: $170</h2>
                <p>Cafe de sabor muy suave, nuesto mocha cuenta con 1/3 de expreso y 2/3 de leche vaporizada</p>
            </div>

            <div class="cappuccino">
                <h2>Cafe Cappuccino: $180</h2>
                <p>Un clasico italiano, expreso, chocolate y leche vaporizada</p>
            </div>
        </div>
        
        <div class="pedidos">
            <h3>Realiza tu pedido ACA</h3>
            <a href="../templates/pedidos.html" target="_blank">Hace tu pedido</a>
        </div>
    </div>
</body>
</html>
