<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/pedidos.css')}}">
    <title>Cafeteria Rapidin</title>
</head>

<body>

    <div class="container">
        <div class="telefono">
            <h1>Whatsapp: +549112345678</h1>
            <h2>Instagram: @caferapidin</h2>
            <h3>Facebook: CafeRapidin</h3>
        </div>
    </div>

</body>

</html>
