<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/finalizado.css">
    <title>Cafeteria Rapidin</title>
</head>

<body>

    <nav>
        <img src="../static/img/foto_cafe.png" class="img_cafe">
        <h1>Cafeteria Rapidin</h1>
        <div class="pedir">
            <a href="../templates/home.html">Atras</a>
        </div>
    </nav>
    <h1>Su pedido ha sido recibido y esta en camino!</h1>

</body>